div.circle3 {
    background-color: #ffe6ac;
    height: 400px;
    width: 500px;
    border-radius: 360px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
    text-align: center;
    padding-top: 100px;
}
