section.list {
    position: fixed;
    font-family: "setofont";
}

div.listBG {
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: rgba(154, 89, 39, 0.7);
}

ul li {
    float: left;
    display: block;
    width: 150px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 7px;
    font-size: 14pt;
}

ul li a {
    color: #F9F59A;
    text-decoration: none;
}

ul li ul li {
    background-color: rgba(255, 177, 81, 0.6);
}

ul li ul {
    display: none;
}

ul li:hover ul {
    display: block;
}

ul li:hover {
    background-color: rgba(186, 121, 116, 0.6);
}

ul li ul li:hover {
    background-color: #F9F59A;
}

ul li ul li:hover a {
    color: #9A5927;
}

article h2,
article h4 {
    font-family: 微軟正黑體;
}
