p {
    width: 400px;
    padding: 25px;
    margin: 30px;
    font-weight: normal;
    font-size: 18px;
    font-family: Oswald, sans-serif;
}

h1,
h2 {
    font-weight: bold;
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 36px;
    color: #2A2A2A;
}

p.block {
    margin: 15px;
    background-color: #FFE1BC;
    background-image: url("images_lounge/sun.png");
    background-size: 13%;
    background-repeat: no-repeat;
    background-position: top left;
    padding: 25px;
    padding-left: 80px;
    border-style: dashed;
    border-color: white;
    border-radius: 15px;
}

#hgreentea {
    color: #368C43;
}

#pgreentea {
    border-width: 30px;
    border-color: #010101;
    color: #46B356;
    background-color: #C2FECB;
}

#hbluetea {
    color: #407D9A;
}

#pbluetea {
    color: #487FB8;
    background-color: #AED6FF;
}

#hpurpletea {
    color: #58409A;
}

#ppurpletea {
    color: #7C48B8;
    background-color: #D1AAFF;
}

#hredtea {
    color: #A74380;
}

#predtea {
    color: #CF4FAB;
    background-color: #FEABE7;
}
